body {
  background: #131A27;
  color: #d6dadc;
}

.lightblue {
  color: #48EEFF;
}

.center {
  text-align: center;
}

.topstatus {
  margin-top: 50px;
  font-size: 40px;
}
.topstatus .status-up {
  color: #7cd87c;
}
.topstatus .status-down {
  color: #d9534f;
}

.statusCircleList {
  margin-top: 100px;
}
